@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.completed {
    text-decoration: line-through;
}

body {
    background-image: linear-gradient(to right, rgba(26,40,120,0.7), rgba(10,143,196,0.7));
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 1vh 1vh;
    background-color: white;
    border-radius: 1vh;
    font-size: 3vh;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.withShadows {
    box-shadow: 2px 2px 1vh 0px rgba(0,0,0,0.5),
    -2px -2px 1vh 0px rgba(0,0,0,0.5)
}

.container {
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
    /* display: flexbox;
    justify-content: center;
    align-items: center; */

    background-color: white;
    border: #D1CDC7 2px solid;
    border-radius: 1vh;
}

@media (max-width: 1200px) {
    .container {
        position: absolute;
        top: 20%;
        left: 5%;
        right: 5%;
        /* display: flexbox;
        justify-content: center;
        align-items: center; */
    
        background-color: white;
        border: #D1CDC7 2px solid;
        border-radius: 1vh;
    }
  }


#todos {
    /* width: 250px; */
    list-style: none;
    margin: 1vh;
    padding: 0 1vh;
    /* border: black 2px dashed; */
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#todos > div {
    margin: 1vh;
    padding: 1vh;
    display: flex;
    justify-content: space-between;

    background-color: white;
    border: #D1CDC7 2px solid;
    border-radius: 1vh;
    font-size: 3vh;
}

#todos > div > div {
    font-size: 2.5vh;
    display: flex;
    align-items: center;
}

#todos > div > button {
    width: 7vh;
    
}

#todos > div input{
    width: 3vh;
    height: 3vh;
    margin: 0;
}

.filters {
    height: 3vh;
    font-size: 2.7vh;
    margin: 0 3vh 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filters input {
    width: 3vh;
    height: 3vh;
    margin: 0;
}

.filters div {
    padding: 1vh;
    background-color: white;
    border: #D1CDC7 2px solid;
    border-radius: 1vh;


    display: flex;
    align-items: center;
}

.input {
    height: 14vh;
    margin: 5vh 2vh;
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    border-radius: 1vh;
    background-color: white;
}

.input button {
    flex-grow: 1;

    background-color: inherit;
    border: #D1CDC7 2px solid;
    border-radius: inherit;
    font-size: inherit
}

.input input {
    flex-grow: 2;

    background-color: inherit;
    border: #D1CDC7 2px solid;
    border-radius: inherit;
    font-size: inherit
}